@import "tailwindcss";
@import "mouse-follower/dist/mouse-follower.min.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.mf-cursor.-inverse:before {
  background: #fff;
}
.mf-cursor.inverse:before {
  background: #000;
}
html {
  scroll-behavior: smooth;
}
